# https://docs.turso.tech/sdk/ts/reference#local-development
DB_FILE_NAME=file:local.db

# Generate with openssl rand -base64 32
# https://better-auth.com/docs/installation#set-environment-variables
BETTER_AUTH_SECRET=

# Base URL of the app
BETTER_AUTH_URL=http://localhost:3000

# Github OAuth credentials
# https://better-auth.com/docs/authentication/github#get-your-github-credentials
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=